# postgres database
version: '3.8'
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 3K@HJLpnogA7r*_oZ32g9j9N_Va2jJ-D
      POSTGRES_DB: catbot
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"


volumes:
  db_data: